# Eclipse
.classpath
.project
.settings/

# Build output
bin/
out/
build/
target/

# Java compiled files
*.class

# Database
*.db
*.sqlite
*.sqlite3

# OS junk
.DS_Store
Thumbs.db

# Env / secrets
.env


# Libraries / local jars
lib/
*.jar